<hibernate-configuration>
    <session-factory>

        <!-- Database configuration -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hiber</property>

        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">12345</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <!-- Hibernate configuration -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- THIS is what creates the table -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- THIS is what creates the table -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Entity mapping -->
        <mapping class="com.hibernate.entities.Student"/>
        <mapping class="com.hibernate.entities.Certificate"/>

    </session-factory>
</hibernate-configuration>
